<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gold" class="com.tap.Classes.GoldCustomer">
    <property name="type" value="Gold Customer"></property>
     </bean>
    <bean id="plat" class="com.tap.Classes.PlatinumCustomer" >
    <property name="type" value="Platinum Customer"></property>
    </bean>

</beans>