<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="javaT" class="com.tap.classes.JavaTrainer"></bean>
    <bean id="sqlT" class="com.tap.classes.SqlTrainer"></bean>
     <bean id="webT" class="com.tap.classes.WebTrainer"></bean>

</beans>