<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="practiceTime" class="com.tap.Classes.PracticeTime">
<constructor-arg name="practiceTime" value="2 hours"></constructor-arg>
</bean>

    <bean id="javaT" class="com.tap.Classes.JavaTrainer" init-method="javaTrainerInit" destroy-method="javaTrainerDestroy">
    <property name="name" value="java trainer2"></property>
    <property name="message" value="java training"></property>
    <property name="pt" ref="practiceTime"></property>
    </bean>
    
    <bean id="sqlT" class="com.tap.Classes.SqlTrainer" init-method="sqlTrainerInit" destroy-method="sqlTrainerDestroy">
    <property name="name" value="sql trainer2"></property>
    <property name="message" value="sql training"></property>
    <property name="pt" ref="practiceTime"></property>
    </bean>
   
    
    
    
    <bean id="webT" class="com.tap.Classes.WebTrainer" init-method="webTrainerInit" destroy-method="webTrainerDestroy">
    <property name="name" value="web trainer2"></property>
    <property name="message" value="web training"></property>
    <property name="pt" ref="practiceTime"></property>
    </bean>

</beans>